.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee;
}
  .container{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.247);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.247);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.247);
  }
    .left{
      width: 50%;
      height: 40rem;
      background-color: #f8b735;
    }
      .left .img{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .left .img img{
          width: 80%;
          height: auto;
        }
    .right{
      width: 50%;
      height: 40rem;
      flex-direction: column;
      background-color: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .right .logo{
        width: 30%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
        .right .logo img{
          width: 100%;
          height: auto;
        }
        .form{
          width: 80%;
          height: auto;
          padding: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        .esqueceu{
          font-weight: 300;
        }
        .matForm{
          width: 100%;
        }
        .sb{
          color: var(--white);
          background-color: var(--color-destaque);
          padding: 5px;
        }
        .txt{
          outline: var(--color-destaque);
        }
        .form::after
        {
          content: '';
          border-bottom: 1px solid #ececec;
          width: 80%;
          margin-top: 20px;
        }
.company{
  margin: 20px 0;
  color: #d4d4d4;
  font-weight: 500;
}

.center{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled {
  cursor: auto;
  background-color: var(--grey) !important;
  color: var(--text-color) !important;
}

/* RESPONSIVIDADE */
@media screen and (min-width: 0px) and (max-width: 780px) {
  .content{
    width: 100%;
    height: 100vh;
  }
  .left{
    display: none;
   }
   .right{
    width: 100%;
   }
}
