<div class="content">
  <div class="container">
    <div class="left">
      <div class="img">
        <img src="../../assets/login.png" alt="">
      </div>
    </div>
    <div class="right">
        <div class="logo"><img src="../../assets/logo.jpg" alt=""></div>
        <div class="form">
          <form>
            <mat-form-field class="matForm txt" appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="gabriel@gdspeixoto.org.br">
            </mat-form-field>
            <mat-form-field class="matForm txt" appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput placeholder="**********">
            </mat-form-field>
            <button mat-button class="matForm sb">Entrar</button>
          </form>
        </div>
        <p class="esqueceu">Esqueceu sua senha? <a href="">Clique aqui.</a></p>
    </div>
  </div>
  <div class="company">Gabriel dos Santos Peixoto - &copy; {{year}}</div>
</div>
