@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600&display=swap');

@import './theme/theme-correia.scss';
@import '@angular/material/theming';
@include mat-core();

*{
    margin: 0;
    padding: 0;
}

//light
$light-theme-app-primary: mat-palette($md-correia, 500);
$light-theme-app-secondary: mat-palette($md-correia, 600);
$light-theme-app-warn: mat-palette($mat-red);
$light-theme-theme: mat-light-theme($light-theme-app-primary, $light-theme-app-secondary, $light-theme-app-warn);

// //dark
// $dark-theme-app-primary: mat-palette($md-dark-mode-correia, 500);
// $dark-theme-app-secondary: mat-palette($md-dark-mode-correia, 600);
// $dark-theme-app-warn: mat-palette($mat-red);
// $dark-theme-theme: mat-dark-theme($dark-theme-app-primary, $dark-theme-app-secondary, $dark-theme-app-warn);

@include angular-material-theme($light-theme-theme);

// .dark-mode{
//   @include angular-material-theme($dark-theme-theme);
// }

:root {
    --white: #FFF;
    --whitesmoke: #F9F9F9;
    --light-grey: #edeaea;
    --grey: #C4C4C4;
    --medium-grey: #A7A7A7;
    --deep-grey: #343434;
    --black: #000000;
    --blue: #1B77F3;
    --light-blue: #65a0ee;
    --red: #CF3C3F;
    --color-destaque: #003cff;
    --body-color: #e8e8e8;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
  }

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', "Helvetica Neue", sans-serif; font-size: 0.9rem; background-color: var(--body-color);}
a{color: #005f95; text-decoration: none; outline: none;}
a:hover{color: var(--color-destaque); text-decoration: none; outline: none;}

.page-wrapper{
  width: calc(100vw - 25rem);
  height: 100vh;
  margin-left: 23rem;
  transition: var(--tran-03);
}
.page-wrapper.closeSidebar{
  width: calc(100vw - 7.5rem);
  height: 100vh;
  margin-left: 6rem;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #7e7e7e;
  transition: var(--tran-04);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-destaque);
}
/* FIM SCROLLBAR */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}
